.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  font-size: 1.4rem;

  padding: 10px;

  transition: all 0.3s;
}
.tarefas li:hover {
  background: var(--background-color-button-cian-ligth);
}

.tarefas li .edit {
  margin: 0 15px 0 0;
  color: var(--background-color-button-cian);
  cursor: pointer;
}

.tarefas li .delet {
  color: var(--background-color-button-red);
  cursor: pointer;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
